talosconfig
homelab-talos-1-homelab-talos-1-controlplane-0.yaml
homelab-talos-1-homelab-talos-1-controlplane-1.yaml
homelab-talos-1-homelab-talos-1-controlplane-2.yaml
homelab-talos-1-homelab-talos-1-worker-0.yaml
homelab-talos-1-homelab-talos-1-worker-1.yaml
homelab-talos-1-homelab-talos-1-worker-2.yaml
